* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
}


.navbar {
    background:linear-gradient(95deg, #252525);
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .hero {
    height: 90vh;
    background: linear-gradient(to right, #0d6efd, #0b5ed7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 48px;
}

.hero-content p {
    margin: 15px 0;
    font-size: 18px;
}

.hero-content button {
    padding: 12px 30px;
    border: none;
    background: white;
    color: #0d6efd;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
} 
